#
# Copyright (c) 2020, STMicroelectronics
# Copyright (c) 2020, Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

config IPC
    bool "IPC support"
	default y
	#TODO PISZ set in bluetooth or 53
	help 
	  This enables generic multiinstance interprocessor communications.

if IPC

choice IPC_ROLE
	prompt "Device role in IPC communication"
	default IPC_ROLE_MASTER if IPC_MASTER
	default IPC_ROLE_SLAVE if IPC_SLAVE

config IPC_ROLE_SLAVE
    select OPENAMP_SLAVE
	bool "IPC Role Slave"

config IPC_ROLE_MASTER
	select OPENAMP_MASTER
	bool "IPC Role Master"

endchoice

config IPC_INSTANCES_NO
    int "Number of IPC instances."
    default 1
    help
      How many instances are to be used.

config IPC_ENDPOINTS_NO
    int "Total number of used endpoints."
    default 2
    help
      Number of used endpoints.

config IPC_AUTO_SHMEM_ALLOCATE
    bool "Auto shmem allocation"
    default false
    help
      Auto shared memory allocation for each instance.

config IPC_COPY_NO_BLOCKING
    bool "No blocking message copy."
    default false
    help
      Enables no-copy mechanism for obtaining IPC messages.

config IPC_BACKEND_OPENAMP
	bool "Enable OpenAMP IPC backend"
	select OPENAMP
	default false
	help
      When enabled the OpenAMP backend is used
	  to communicate with the co-processor.

if IPC_BACKEND_OPENAMP

config OPENAMP_RSC_TABLE
	bool "Co-processor resource table"
	imply OPENAMP
	help
	  Add the resource table in the generated binary. This table is
	  compatible with linux remote proc framework and OpenAMP library.

config OPENAMP_RSC_TABLE_NUM_RPMSG_BUFF
	int "Resource table number of rpmsg buffers"
	default 0
	depends on OPENAMP_RSC_TABLE
	help
	  This option specifies the number of buffer used in a Vring for
	  interprocessor communication

endif # IPC_BACKEND_OPENAMP

endif # IPC
